@media (min-width: 900px) {
  /* Header */
  .header {
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 15px 40px;
  }

  .header .nav {
    width: 100%;
  }

  .header .nav .menu-hamburguer {
    display: none;
  }

  .header .nav .background {
    display: none !important;
  }

  .header .nav .nav-aside {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    display: flex !important;
    justify-content: space-between;
  }

  .header .nav .menu {
    flex-direction: row;
    gap: 40px;
  }

  .header .menu li[data-dropdown] {
    position: relative;
  }

  .header .menu li:hover > a,
  .header .account a:first-child:hover {
    color: var(--color-almost-black);
  }

  .header .nav li[data-dropdown]:hover a.arrow::after {
    transform: rotate(180deg);
  }

  .header .menu li[data-dropdown]:hover .dropdown-menu {
    display: block;
    position: absolute;
    background: var(--color-almost-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    min-width: 130px;
  }

  .header .menu li[data-dropdown] .dropdown-menu {
    display: none;
  }

  .header .nav .menu .features:hover .dropdown-menu {
    right: 0;
  }

  .header .nav .menu .company:hover .dropdown-menu {
    left: 0;
  }

  .header .nav .account {
    margin-top: 0;
    flex-direction: row;
    gap: 40px;
  }

  .header .account .register {
    margin-top: 0;
    padding: 10px 20px;
  }

  .header .account .register:hover {
    color: var(--color-almost-black);
    border-color: var(--color-almost-black);
  }

  /* Section Info */
  .section-info {
    max-width: 1125px;
    max-height: 600px;
    margin: 60px auto 120px;
    padding: 0 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
  }

  .section-info picture {
    max-width: 425px;
  }

  .section-info .img-hero-mobile {
    height: 100%;
    max-height: initial;
  }

  .section-info .info {
    max-width: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-info .description {
    text-align: left;
    padding: 0;
  }

  .description .titulo {
    font-size: 70px;
    margin-top: 110px;
  }

  .description .btn-learn-more {
    margin: 40px 0 0;
    transition: .2s ease-in-out;
  }

  .description .btn-learn-more:hover {
    background: #fff;
    color: var(--color-almost-black);
  }

  /* Footer */
  .footer {
    padding: 0;
  }
}
