@font-face {
  font-family: 'Epilogue';
  src: url('../font/Epilogue-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../font/Epilogue-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
}

p {
  font-size: 18px;
}

.brand {
  display: inline-block;
}

/* Header */
.header {
  padding: 20px 15px;
}

.header .nav .nav-aside {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 230px;
  padding: 80px 30px;
  height: 100vh;
  background: var(--color-almost-white);
  animation: nav-fade-left 0.5s ease-in-out;
}

.header .nav.active .nav-aside {
  display: block;
}

.header .nav.active .background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header .nav .menu-hamburguer {
  cursor: pointer;
  background: url(../img/icon-menu.svg) no-repeat center;
  width: 32px;
  height: 18px;
  border: none;
  position: absolute;
  top: 22px;
  right: 15px;
  z-index: 999;
}

.header .nav.active .menu-hamburguer {
  background: url(../img/icon-close-menu.svg) no-repeat;
  width: 26px;
  height: 26px;
  position: fixed;
}

.header .nav .menu {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* Arrow Item List */
.header .nav a.arrow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .nav a.arrow::after {
  content: '';
  width: 10px;
  height: 6px;
  background: url('../img/icon-arrow-down.svg') no-repeat center;
  transition: 0.2s ease-in-out;
}

.header .nav li[data-dropdown].active a.arrow::after {
  background: url('../img/icon-arrow-up.svg') no-repeat center;
}

.header .nav .menu .dropdown-menu {
  padding-left: 20px;
}

.header .menu li[data-dropdown] .dropdown-menu {
  display: none;
  overflow: hidden;
}

.header .nav li[data-dropdown].active .dropdown-menu {
  display: block;
  animation: dropdown-fade-down 0.5s ease-in-out;
}

.header .menu li[data-dropdown] .dropdown-menu.icons a {
  display: flex;
  gap: 10px;
}

.header .menu li[data-dropdown] .dropdown-menu a {
  margin-top: 5px;
}

/* Icons dropdown menu */
.header .dropdown-menu.icons a::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
}

.header .dropdown-menu a.to-do::before {
  background: url('../img/icon-todo.svg') no-repeat center;
}

.header .dropdown-menu a.calendar::before {
  background: url('../img/icon-calendar.svg') no-repeat;
}

.header .dropdown-menu a.reminders::before {
  background: url('../img/icon-reminders.svg') no-repeat;
}

.header .dropdown-menu a.planning::before {
  background: url('../img/icon-planning.svg') no-repeat;
}

/* Login & Register */
.header .menu a,
.header .account a {
  display: block;
  color: var(--color-medium-gray);
  padding: 10px 0;
  transition: 0.2s ease-in-out;
}

.header .nav .account {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.header .account a {
  text-align: center;
}

.header .account .register {
  background-color: var(--color-almost-white);
  border: 1px solid var(--color-medium-gray);
  border-radius: 15px;
  margin-top: 5px;
}

/* Section Info */
.section-info {
  display: flex;
  flex-direction: column;
}

.section-info .img-hero-mobile {
  width: 100%;
  max-height: 470px;
  object-fit: cover;
}

.section-info .description {
  padding: 50px 15px;
  text-align: center;
}

.description .titulo {
  font-size: 40px;
  font-weight: bold;
}

.description .text {
  color: var(--color-medium-gray);
  font-size: 18px;
  margin: 20px 0 25px;
  line-height: 30px;
}

.description .btn-learn-more {
  display: block;
  width: fit-content;
  background: var(--color-almost-black);
  margin: 0 auto;
  padding: 15px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid var(--color-almost-black);
  border-radius: 15px;
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 0 15px 80px;
}

.footer .partners {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
